body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.navbar {
    background-color: #007bff;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.nav-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.card {
    border: 1px solid #ddd;
    padding: 15px;
    background: white;
    margin: 10px;
}

.add-property-form {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.add-property-form h2 {
    margin-bottom: 10px;
}

.add-property-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.add-property-form button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    cursor: pointer;
}

.add-property-form button:hover {
    background-color: #0056b3;
}

.card button {
    background-color: #28a745;
    color: white;
    padding: 5px;
    margin: 5px;
    border: none;
    cursor: pointer;
}

.card button:hover {
    opacity: 0.8;
}

.card button:nth-child(2) {
    background-color: #dc3545;
}

