body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.wallpaper {
    background-image: url('../assets/img.png');
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items:flex-end;
}

.marque-txt {
    font-size: 2em;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-family: cursive;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-container input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 500px;
}

.form-container button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.navbar {
    background-color: #007bff;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.nav-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.card {
    border: 1px solid #ddd;
    padding: 15px;
    background: white;
    margin: 10px;
}

.add-property-form {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.add-property-form h2 {
    margin-bottom: 10px;
}

.add-property-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.add-property-form button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    cursor: pointer;
}

.add-property-form button:hover {
    background-color: #0056b3;
}

.card button {
    background-color: #28a745;
    color: white;
    padding: 5px;
    margin: 5px;
    border: none;
    cursor: pointer;
}

.card button:hover {
    opacity: 0.8;
}

.card button:nth-child(2) {
    background-color: #dc3545;
}

.properties-container {
    height: 70vh;
}

.properties-container button {
    border-radius: 5px;
    margin-block: 10px;
}

.listing-container {
    overflow: auto;
    height: 200px;
}